body {
    background: #6f9be2;
}
circle {
    position: fixed;
    top: 0;
    left: calc(50vw - 5vh);
    width: 10vh;
    height: 10vh;
    border: 1.7vh solid white;
    border-radius: 10vh;
}
svg {
    height: 90vh;
    width: 100.1vw;
    left: 0;
    top: 5vh;
    position: fixed;
}
svg path {
    fill: none;
    stroke: black;
    stroke-width: 1vh;
    /* animation-name: shift-curve;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}
@keyframes shift-curve {
    from {transform: translateX(50%)}
    to {transform: translateX(-50%)}
}
