body {
    background: #6f9be2;
}
circle {
    position: fixed;
    top: 0;
    left: calc(50vw - 5vh);
    width: 10vh;
    height: 10vh;
    border: 1.7vh solid white;
    border-radius: 10vh;
}
svg {
    height: 90vh; 
    width: 100.1vw;
    left: -200vw;
    top: 5vh;
    position: fixed;
}
svg path {
    fill: none;
    stroke: black;
    stroke-width: 1vh;
}
@keyframes shift-curve-left {
    0% {left: -50vw}
    50% {left: -100vw}
    50.1% {left: 100vw}
    100% {left: 50vw}
}
@keyframes shift-curve-right {
    from {left: 50vw}
    to {left: -50vw}
}
